@page
@model HotelManagementJsonXml.Pages.BookingJson.CreateModel

@{
    ViewData["Title"] = "Create";
    string? roleIDString = HttpContext.Session.GetString("RoleID");
    if (roleIDString != null)
    {
        int roleID = int.Parse(roleIDString);
        if (roleID != 1)
        {
            Response.Redirect("../Permission");
        }
    }
    else
        Response.Redirect("../Permission");
}

<h1>Create Json</h1>

<h4>BookingReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingDetail.StartDate" class="control-label"></label>
                <input asp-for="BookingDetail.StartDate" class="form-control" />
                <span asp-validation-for="BookingDetail.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDetail.EndDate" class="control-label"></label>
                <input asp-for="BookingDetail.EndDate" class="form-control" />
                <span asp-validation-for="BookingDetail.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingReservation.CustomerId" class="control-label"></label>
                <select asp-for="BookingReservation.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RoomInformation" class="control-label"></label>
                <select asp-for="RoomInformation" class="form-control" asp-items="ViewBag.RoomId" multiple></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
